@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #6B7280;
        border-radius: 8px;
        border: 2px solid #F3F4F6;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: #F3F4F6;
        border-radius: 8px;
    }
}


.add-button {
    @apply mt-6 w-full  inline-block text-base font-bold bg-blue-500 text-white py-2 rounded-lg shadow hover:bg-blue-600 transition duration-300
}
